body{
    background-color: white;
}
.header{
    margin-top: 20px;
}
.item1{
    margin-left: 20px;
}
.item2 search{
    margin-right: 400px;
    margin-top: -70px;
}
.gene-container .allitem{
    margin-left: 10px;
    margin-top: 20px;
}
.allitem .item3 .naming3{
    font-size: 13px;
}

.allitem .item5{
    margin-top: 20px;
}
.allitem .item5
.allitem .item5 .naming5{
    font-size: 13px;
}
.allitem .item6{
    margin-top: 19px;
}
.allitem .item6 .naming6{
    font-size: 13px;
    margin-left: -19px;
}
.allitem .item7{
    margin-top: 19px;
}
.allitem .item7 .naming7{
    font-size: 13px;
    margin-left: -10px;
}
.allitem .item8{
    margin-top: 19px;
}
.allitem .item8 .naming8{
    font-size: 11px;
    margin-left: -17px;
}
.allitem .item9{
    margin-top: 19px;
}
.allitem .item9 .naming9{
    font-size: 13px;
    margin-left: -2px;
}
.item2 .mic{
margin-left: 439px;
margin-top: -57px;
}
.mics{
    border-radius: 50% ;
    border: 40px;
    
}
.header .item33{
    margin-left: 1137px;
    margin-top: -30px;
}
.appicon{
    margin-left: 40px;
    margin-top: -30px;
}
.noticon{
    margin-left: 80px;
    margin-top: -30px;
}
.number1{
    margin-top: -30px;
    margin-left: 10px;
}
.noticon .number{
    background-color: red;
    border-radius: 50%;
    border: 50px;
}
.myicon{
    margin-left: 120px;
    margin-top: -19px;
}
.search{
    margin-left: 330px;
    margin-top: -35px;
}
.searching{
    width: 400px;
    height: 40px;
font-size: 18px;
    
}

.srcimg{
    margin-top: -21px;
    height: 40px;
    margin-left: 195px;
}
.container{
    padding:5px;
    margin:10px;
   
}
.container1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    margin-top: 17px;
    
}
.subcontainer{
    background-color: aliceblue;
    margin-top: 10px;
}

.gene-container{
    display:grid;
    grid-template-columns: 60px auto;
}
.img1{
    margin-left: -2px;
    width: -50px;
    margin-top: -10px;
}
.small img{
    border-radius: 50%;
    width: 33px;
}

.words{
    padding-left: 40px;
    margin-top: -35px;
    font-family: 'Segoe UI' ;
    font-weight: bold;
    font-size: 13px;
}
.words .faint1{
    font-weight: 490;
    margin-top: 3px;
    color: rgb(78, 78, 78);
    font-size: 13px;
}
.img2{
    margin-left: -20px;
    width: -50px;
    margin-top: 6px;
}

.small2 img{
    border-radius: 50%;
    width: 30px;
    margin-left: -17px;
}

.words2{
    margin-left: 24px;
    margin-top: -33px;
    font-family: 'Segoe UI' ;
    font-weight: bold;
    font-size: 13px;
}
.words2 .faint2{
    font-weight: 490;
    margin-top: 8px;
    color: rgb(78, 78, 78);
    font-size: 13px;
}
.img3{
    margin-right: 20px;
    margin-top: 6px;
}
.words .faint3{
    font-weight: 490;
    margin-top: 3px;
    color: rgb(78, 78, 78);
    font-size: 13px;
}
.small3 img{
    border-radius: 50%;
    width: 30px;
}

.words3{
    padding-left: 45px;
    margin-top: -33px;
    font-family: 'Segoe UI' ;
    font-weight: bold;
    font-size: 13px;
}
.words .br{
    font-size: 30px;
}
.words3 .faint3{
    font-weight: 490;
    margin-top: 3px;
    color: rgb(78, 78, 78);
    font-size: 13px;
}
.img4{
    margin-left: -24px;
    margin-top: 6px;
}
.words4 .faint4{
    font-weight: 490;
    margin-top: 10px;
    color: rgb(78, 78, 78);
    font-size: 13px;
}
.small4 img{
    border-radius: 50%;
    width: 30px;
    margin-left: -20px;
}

.words4{
    padding-left: 24px;
    margin-top: -33px;
    font-family: 'Segoe UI' ;
    font-weight: bold;
    font-size: 13px;
    color: black;
}
.words4 .faint4{
    font-weight: 490;
    margin-top: 3px;
    color: rgb(78, 78, 78);
    font-size: 13px;
}
.img5{
    margin-left: 7px;
    width: -50px;
    margin-top: 30px;
}
.small5 img{
    border-radius: 50%;
    width: 33px;
}

.words5{
    padding-left: 40px;
    margin-top: -35px;
    font-family: 'Segoe UI' ;
    font-weight: bold;
    font-size: 13px;
}
.words5 .faint5{
    font-weight: 490;
    margin-top: 3px;
    color: rgb(78, 78, 78);
    font-size: 13px;
}
.img6{
    margin-left: -2px;
    width: -50px;
    margin-top: 30px;
}
.small6 img{
    border-radius: 50%;
    width: 33px;
}

.words6{
    padding-left: 40px;
    margin-top: -35px;
    font-family: 'Segoe UI' ;
    font-weight: bold;
    font-size: 13px;
}
.words6 .faint6{
    font-weight: 490;
    margin-top: 3px;
    color: rgb(78, 78, 78);
    font-size: 13px;}

    .img7{
        margin-left: -2px;
        width: -50px;
        margin-top: 30px;
    }
    .small7 img{
        border-radius: 50%;
        width: 33px;
    }
    
    .words7{
        padding-left: 40px;
        margin-top: -35px;
        font-family: 'Segoe UI' ;
        font-weight: bold;
        font-size: 13px;
    }
    .words7 .faint7{
        font-weight: 490;
        margin-top: 3px;
        color: rgb(78, 78, 78);
        font-size: 13px;
    }
    .img8{
        margin-left: -2px;
        width: -50px;
        margin-top: 30px;
    }
    .small8 img{
        border-radius: 50%;
        width: 33px;
    }
    
    .words8{
        padding-left: 40px;
        margin-top: -35px;
        font-family: 'Segoe UI' ;
        font-weight: bold;
        font-size: 13px;
    }
    .words8 .faint8{
        font-weight: 490;
        margin-top: 3px;
        color: rgb(78, 78, 78);
        font-size: 13px;
    }